<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/merah .jpg" alt="Rizal" class="img-thumbnail rounded" width="200" />
      <h1 class="display-4">Rizal Kalam</h1>
      <p class="lead">Student | Morning People</p>
    </div>
  </div>
</div>
